<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/autentica.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Inscrição - Macaxeira Backyard Ultra</h3>
        <form class="frm">
            <h1>Pré-Inscrição</h1>
            <br>
            <h3>Efetue o pagamento até o dia 02/01/2025 para a confirmação da inscrição</h3>
            <!--  <a href="http://ecmrun.com.br/macaxeirabackyard">Voltar</a> -->
            <a href= {{ link_pagamemto }}>Seguir com Pagamento</a>
        </form>
    </div>    
</body>
</html>
