<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/formulario200k.css"/>   
    <title>4º Desafio 200k</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
    <div class="logo-container">
        <img src="https://ecmrun.com.br/static/img/ecmrunlogo1.png" alt="Logo" class="logo">
    </div>

    
    <form id="inscricaoForm">
        <div class="info-label">Nome:</div>
        <div class="info-value" id="nome_completo" ></div>

        <div class="info-label">Email:</div>
        <div class="info-value" id="email" ></div>
        
        
        <div class="divider"></div>
        <h3>Inscrição ativas</h3>
        <table class="info-table">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Comprovante</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="table-content">
                            <span><b>4º Desafio 200k - Porto Velho-Humaitá</b></span>
                            <!--<div id="evento"></div>-->
                            <div id="modalidade"></div>
                        </div>
                    </td>
                    <td class="center-content">
                        <a id="comprovanteLink" href="#">Abrir</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button onclick="window.location.href='/desafio200k'" type="button" class="button">Voltar</button>

    </form>

    <footer class="footer">
        <img src="/static/img/ecmdev02.png" alt="Logo ECM Run" class="footer-logo">
        <p class="footer-text">ECM Run - 2025, todos os direitos reservados</p>
        <p class="footer-text">Desenvolvido por: ECM Sistemas Developer</p>
    </footer>

    <script>
     
        $(document).ready(function() {
            // Get user data from localStorage
            const userName = localStorage.getItem('user_name');
            const userEmail = localStorage.getItem('user_email');
            const evento = localStorage.getItem('insc_evento');
            const eventoModal = localStorage.getItem('insc_evento_modal');
            const modalidade = localStorage.getItem('insc_modalidade');
            const idpagamento = localStorage.getItem('insc_idpagamento');
            
            // Update the display values
            $('#nome_completo').text(userName);
            $('#email').text(userEmail);
            //$('#evento b').text(evento || ''); // Inserir texto dentro da tag <b>
            $('#modalidade').text(modalidade || '');
            
            console.log('Evento/Modal: ', eventoModal);
            console.log('Evento: ', evento);
            console.log('Modalidade: ', modalidade);
            
            if (idpagamento) {
                const url = `/vercomprovante/${idpagamento}`;
                document.getElementById('comprovanteLink').setAttribute('href', url);
            } else {
                console.error("ID do pagamento não encontrado no localStorage.");
            }
        });


    </script>
</body>
</html>
