<!DOCTYPE html>
<html lang="pt-br" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://ecmrun.com.br/static/img/ecmrunlogo.png">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <title>ECM RUN SPORTS</title>
</head>
<body>
    <div class="header-container">
        <form class="header-form">
            <img src="/static/img/ecmrunlogo1.png" alt="Logo ECM RUN" class="logo">
            <div class="title-section">
                <h1 class="title">ECM RUN</h1>
                <div class="subtitle-header">SPORTS</div>
            </div>
        </form>
    </div>

    <h2 class="subtitle">Eventos Disponíveis</h2>

    <div class="events-container" id="eventsContainer">
        <div class="loading" id="loadingMessage">
            Carregando eventos... ⏳
        </div>
    </div>

    <footer class="footer">
        <p class="bible-verse">"Tudo posso naquele que me fortalece." - Filipenses 4:13</p>
        <img src="/static/img/ecmdev02.png" alt="Logo ECM Run" class="footer-logo">
        <p class="footer-text">ECM RUN Esports - todos os direitos reservados</p>
        <p class="footer-text">Desenvolvido por: ECM Sistemas Developer</p>
    </footer>

    <script src="/static/js/index.js"></script>
</body>
</html>